.files{
	width:100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.file{
	text-align:left;
	padding:3px 10px 3px 10px;
	margin-right:20px;
	width: 200px;
}
.file:hover{
	background:var(--main-yellow-color);
	color:var(--main-bg-color);
}
.file:hover a{
	color:var(--main-bg-color);
	text-decoration:none;
}
.file a{
	padding:0;
	color:var(--main-fg-color);
}
.file a.filename:hover{
	color:#4c4846;
	text-decoration:underline;
}
.file button.delete:hover{
	color:var(--main-red-color)!important;
}
.file:hover button.delete{
	color:var(--main-bg-color);
	visibility:visible;
	opacity:1;
	transition: visibility 0s linear 0s, opacity 300ms;
}
.file .inline{
	display:inline;
	float:right;
	width:0px;
	margin: 0px;
	padding: 0px;
}
.file button.delete{
    color:var(--main-yellow-color);
	visibility:hidden;
	opacity:0;
	transition: visibility 0s linear 0s, opacity 300ms;
	float:right;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1em;
	padding: 0px!important;
	margin: 0px;
}
