<html>
	{{ template "head" . }}
	<body>
		{{ template "navbar" . }}
		<head>
			<link href="/static/css/files.css" rel="stylesheet"> 
		</head>
		<div class="section">
			<div class="files">
				{{ range .UserFiles }}
				<div class="file">
					<a class="filename"href="/v/{{ .UrlId }}">{{ .FileName }}</a>
					<form method="post" action="/delete" class="inline">
						<button type="submit" name="fileId" value="{{ .UrlId }}" class="delete">
						&#91;x&#93;
					  </button>
					</form>
				</div>
				{{ end }}
			</div>
		</div>
	</body>
</html>
