<html>
	{{ template "head" . }}
	<body>
		{{ template "navbar" . }}
		<head>
			<link href="/static/css/files.css" rel="stylesheet"> 
		</head>
		<div class="section">
			<div class="files">
				{{ range .UserFiles }}
				<div class="file">
					<a class="filename"href="/v/{{ .UrlId }}">
						{{ $flen := len .FileName }} {{ if gt $flen 22 }}
							{{ $mid := sub $flen 10 }}{{ slice .FileName 0 9 }}...{{ slice .FileName $mid }}
						{{ else }}
							{{ .FileName }}
						{{ end }}
					</a>
					<form method="post" action="/delete" class="inline">
						<button type="submit" name="fileId" value="{{ .UrlId }}" class="link-button hover-red hover-button">
							&#91;x&#93;
						</button>
						<a type="button" class="link-button hover-red hover-button" href="#popup-{{ .UrlId }}">&#91;Edit&#93;</a>
					</form>
				</div>
				<div id="popup-{{ .UrlId }}" class="overlay">
					<div class="popup">
						<h2>{{ .FileName }}</h2>
						<a class="close hover-red" href="#">&#91;x&#93;</a>
						<form method="post" action="/update">
							<div class="section" id="private">
								Private? 
								<input type="radio" id="yes" name="private" value="true" {{ if .IsPrivate }}checked{{end}}>
								<label for="yes">Yes</label>
								<input type="radio" id="no" name="private" value="false" {{ if not .IsPrivate }}checked{{end}}>
								<label for="no">No</label>
							</div>
							<button class="link-button hover-red" type="submit" name="fileId" value="{{ .UrlId }}">
								&#91;Update&#93;
							</button>
						</form>
					</div>
				 </div>
				{{ end }}
			</div>
		</div>
	</body>
</html>
