{{ define "navbar" }}	
	<nav id="navbar">
		<ul>
			<li><a href="/">fserv</a></li>
			<li><a href="/login">/login</a></li>
			<li><a href="/register">/register</a></li>
			<li><a href="/files">/files</a></li>
			<li><a href="/upload">/upload</a></li>
		</ul>
	</nav>
{{ end }}
