{{ define "navbar" }}	
	<nav id="navbar">
		<ul>
			<li><a class="hover-red" href="/">fserv</a></li>
			<li><a class="hover-red" href="/login">/login</a></li>
			<li><a class="hover-red" href="/register">/register</a></li>
			<li><a class="hover-red" href="/files">/files</a></li>
			<li><a class="hover-red" href="/upload">/upload</a></li>
		</ul>
	</nav>
{{ end }}
