<html>
	{{ template "head" . }}
	<body>
		{{ template "navbar" . }}
		<div class="section">
			<form method="post" action="/register">
				<label><input type="text" id="username" name="username" placeholder="Username"></label>
				<label><input type="password" id="password" name="password" placeholder="Password"></label>
				<label><input type="key" id="key" name="key" placeholder="Registration Key"></label>
				<button type="submit" class="bgreen">Register</button>
			</form>
		</div>
	</body>
</html>
